.name {
	background-color: #FFE4C4;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    display:block;
    }


.brown {
    margin-top: 700px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFDAB9;
    width: 100vw;
    height: 1300px;
    position: absolute;
}


.pink {
    margin-top: 1600px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFE4E1;
    width: 100vw;
    height: 1000px;
    position: absolute;
}



/*this is stuff about letters*/
.letter {
    position:relative;
    width:125px;
    height:130px;
    float:left;
    margin-right:30px;
    margin-top: 20px;
    display: grid;
    display:grid;
    transform: scale(0.6);
    filter: drop-shadow(white 0px 0px 0);
    transition: all 200ms ease;
    transform: scale(0.6);
}

.letter:hover {
  filter:drop-shadow(white 25px 25px 0);
}

.letter.wide {
    position:relative;
    width:160px;
    float:left;
    margin-right:30px;
    transform: scale(0.6);
}

.letter.narrow {
    position: relative;
    width: 35px;
    float: left;
    margin-right: 30px;
    transform: scale(0.6);
}

.number{
    position:relative;
    width:125px;
    height:130px;
    float:left;
    margin-right:30px;
    margin-top: 20px;
    display: grid;
    display:grid;
    transform: scale(0.6);
    filter: drop-shadow(white 0px 0px 0);
    transition: all 200ms ease;
    transform: scale(0.6);
}

.sentence{
    position:relative;
    width:1280px;
    height:auto;
    float:left;
    margin-left:30px;
/*    margin-top: 20px;*/
    display: grid;
    transform: scale(0.6);
}

element.style{
    filter:drop-shadow(white 0 0 0);

}





/*A*/

        .stema{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }

        .a1{
            width: 200px;
            height: 200px;
            margin-right: 20px;
            -webkit-clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }

        .a2{
            width: 40px;
            height: 3px;
            margin-top: 90px;
            margin-left: 93px;
            background: #DB7093;
            position: absolute;
        }




/*B*/


        .stemb {
        	width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }


        .b1 {
        	margin-top: 22px;
        	margin-left:30px;
            width: 80px;
            height: 40px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(90deg);
            position: absolute;
        }

        .b2{
        	margin-top: 105px;
        	margin-left:30px;
            width: 110px;
            height: 70px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(90deg);
            position: absolute;
        }



/*C*/

        .c{
            margin-top: 50px;
            margin-left: -85px;
            width: 193px;
            height: 100px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(270deg);
            position: absolute;  
        }


/*D*/

        .stemd {
        	width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }


            .d {
        	margin-top: 50px;
            width: 193px;
            height: 100px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(90deg);
            position: absolute;
        }

/*E*/

        .steme{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .e1{
            margin-left: 60px;
            margin-top:197px;
            width: 70px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .e2{
            width: 3px;
            height: 20px;
            margin-top:180px;
            margin-left:130px;
            background: #DB7093;
            position: absolute; 
        }

        .e3{
            margin-left: 60px;
            margin-top:97px;
            width: 20px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .e4{
            margin-left: 60px;
            width: 70px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .e5{
            width: 3px;
            height: 20px;
            margin-left:130px;
            background: #DB7093;
            position: absolute; 
        }


/*F*/

        .stemf {
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }

        .f1{
            margin-left: 60px;
            width: 70px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .f2{
            width: 3px;
            height: 20px;
            margin-left:130px;
            background: #DB7093;
            position: absolute; 
        }

        .f3{
            margin-left: 60px;
            margin-top:97px;
            width: 20px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

/*G*/


        .stemg {
            width: 35px;
            height: 70px;
            margin-top: 130px;
            margin-left: 90px;
            background: #DB7093;
            position: absolute;
            }

        .g {
            margin-top: 50px;
            margin-left: -85px;
            width: 193px;
            height: 100px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(270deg);
            position: absolute;  
        }

/*H*/

        .stemh {
            /*margin-left: 930px;*/
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }


        .hvertical {
            margin-left: 100px;
            width: 3px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .hhorizontal {
            margin-left: 50px;
            margin-top: 90px;
            width: 50px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }


/*I*/

        .stemi {
            /*margin-left: 620px;*/
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }

/*J*/

        .stemj {
            /*margin-left: 620px;*/
            margin-left: 76px;
            width: 35px;
            height: 140px;
            background: #DB7093;
            position: absolute;
            }

        .j1 {
            margin-top: 152px;
            width: 105px;
            height: 47px;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(180deg);
            position: absolute; 
        }

/*K*/

        .stemk{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .k1{
            width: 136px;
            margin-top: 96px;
            height: 106px;
            margin-right: 20px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }

        .k2{
            width: 168px;
            margin-left:40px;
            height: 97px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            display:block; 
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            position: absolute;
        }


/*L*/


        .steml{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .l1{
            margin-left: 60px;
            margin-top:197px;
            width: 70px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .l2{
            width: 3px;
            height: 20px;
            margin-top:180px;
            margin-left:130px;
            background: #DB7093;
            position: absolute; 
        }


/*M*/


        .stemm{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .m1 {
            width: 111px;
            height: 57px;
            clip-path: polygon(50% 0, 53% 0, 80% 100%, 77% 100%);
            background: #DB7093;
            position: absolute;
        }

        .m2 {
            width: 174px;
            margin-left:47px;
            height: 57px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            display:block; 
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            position: absolute;
        }

        .m3 {
            margin-left: 119px;
            width: 3px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }


/*N*/


        .stemn{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }

        .n1 {
            width: 168px;
            height: 200px;
            margin-left: -30px;
            clip-path:polygon(52% 0, 50% 0, 88% 100%, 90% 100%);
            /*clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);*/
            background: #DB7093;
            position: absolute;
        }

        .n2 {
            margin-left: 119px;
            width: 3px;
            height: 200px;
            background: #DB7093;
            position: absolute;
        }


/*O*/


        .oval {
            width: 120px;
            height: 195px;
            border: 3px solid #DB7093;
            border-radius: 50%;
            position: absolute;
        }


/*P*/


        .stemp {
        	width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }

            .p {
        	margin-top: 22px;
            left:30px;
            width: 90px;
            height: 50px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(90deg);
            position: absolute;
        }


/*Q  */      


        .stemq{
            width: 100px;
            height: 82px;
            margin-left: 19px;
            margin-top: 120px;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }


        .q {
            width: 120px;
            height: 195px;
            border: 3px solid #DB7093;
            border-radius: 50%;
            position: absolute;
            clip-path:polygon(0 0, 100% 0, 100% 75%, 50% 50%, 53% 100%, 0 100%);
        }


/*R*/


        .stemr {
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            }

        .r1 {
            margin-top: 22px;
            left:30px;
            width: 90px;
            height: 50px;
            background-color: none;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(90deg);
            position: absolute;
        }

        .r2{
            width: 122px;
            margin-top: 93px;
            height: 107px;
            margin-right: 20px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }


/*S*/

.scurve1{
    width: 95px;
    margin-left: 15px;
    height: 91px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 22% -21%, 217% 219%, 0 100%);
    transform: rotate(89deg);
}


.scurve2{
    width: 122px;
    margin-left: 15px;
    margin-top:84px;
    height: 119px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 41% -26%, 217% 219%, 0 100%);
    transform: rotate(-104deg);
}



/*T*/

        .stemt{
            width: 35px;
            height: 200px;
            background: #DB7093;
            position: absolute;
            margin-left: 80px;
        }

        .t1{
        /*    margin-left: 100px;*/
            width: 3px;
            height: 20px;
            background: #DB7093;
            position: absolute;
        }

        .t2{
            margin-left: 200px;
            width: 3px;
            height: 20px;
            background: #DB7093;
            position: absolute;
        }

        .t3{
            margin-left: 140px;
            width: 60px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .t4{
            width: 60px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }


/*U*/

        .stemu {
            width: 35px;
            height: 140px;
            background: #DB7093;
            position: absolute;
            }



        .u1 {
            margin-top: 152px;
            margin-left: 1px;
            width: 109px;
            height: 48px;
            border-top-left-radius: 110px;
            border-top-right-radius: 110px;
            border: 3px solid #DB7093;
            border-bottom: 0;
            transform: rotate(180deg);
            position: absolute; 
        }

        .u2 {
            margin-left: 113px;
            width: 3px;
            height: 154px;
            background: #DB7093;
            position: absolute;
        }


/*V*/



        .stemv{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }


        .v1{
            width: 200px;
            height: 200px;
            margin-right: 20px;
            margin-left: 112px;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }


/*W*/


        .stemw{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }


        .w1 {
            width: 168px;
            height: 78px;
            margin-left: 92px;
            margin-top: 121px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }

        .w2 {
            width: 168px;
            margin-left:117px;
            height: 78px;
            margin-top: 121px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            display:block; 
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            position: absolute;
        }

        .w3{
            width: 200px;
            height: 200px;
            margin-right: 20px;
            margin-left: 176px;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }


/*X*/

        .stemx{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }

        .x1{
            width: 136px;
            margin-top: 136px;
            height: 61px;
            margin-left: 16px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }


        .x2{
            width: 136px;
            height: 57px;
            margin-left: -69px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }

/*Y*/


        .stemy{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }

        .y1{
            width: 136px;
            height: 77px;
            margin-left: -79px;
            clip-path: polygon(57% 0, 59% 0, 78% 100%, 76% 100%);
            background: #DB7093;
            position: absolute;
        }

/*Z*/

        .stemz{
            width: 100px;
            height: 200px;
            margin-left: 30px;
            -webkit-clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
            background: #DB7093;
            position: absolute;
        }

        .z1{
            margin-left: 95px;
            margin-top:197px;
            width: 37px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .z2{
            width: 3px;
            height: 20px;
            margin-top:180px;
            margin-left:130px;
            background: #DB7093;
            position: absolute; 
        }


        .z3{
            width: 37px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .z4{
            width: 3px;
            height: 20px;
            background: #DB7093;
            position: absolute; 
        }












/*NUMBERS START HERE*/






.stemzero{
    width: 35px;
    height: 35px;
    margin-top: 82px;
    background: #DB7093;
    position: absolute;
    margin-left: 46px;
}

.zero{
    margin-top: 0px;
    width: 120px;
    height: 195px;
    border: 3px solid #DB7093;
    border-radius: 50%;
}

.one1{
    margin-left: 80px;
    width: 3px;
    height: 200px;
    background: #DB7093;
    position: absolute;
}
.one2 {
    width: 78px;
    margin-left:47px;
    height: 57px;
    clip-path: polygon(55% 0, 59% 0, 84% 100%, 80% 100%);
    background: #DB7093;
    display:block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
}

.two1{
    margin-top:197px;
    width: 129px;
    height: 3px;
    background: #DB7093;
    position: absolute;
}

.two2{
    width: 116px;
    margin-left: 15px;
    height: 112px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 41% 53%, 217% 219%, 0 100%);
    transform: rotate(122deg);
}

.two3{
    width: 116px;
    margin-left: 8px;
    height: 154px;
    margin-top: -14px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -179%, -2% 68%, 171% 305%, 0 100%);
    transform: rotate(216deg);
}

.two4{
    width: 150px;
    margin-left: 1px;
    margin-top: 133px;
    height: 155px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -279%, -12% 53%, 217% 219%, 0 100%);
    transform: rotate(102deg);
}

.three1{
    width: 129px;
    height: 3px;
    background: #DB7093;
    position: absolute;
}

.three2{
    width: 82px;
    margin-left:47px;
    height: 75px;
    clip-path: polygon(-7% 0, -3% 0, 84% 100%, 80% 100%);
    background: #DB7093;
    display:block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
}

.three3{
    width: 120px;
    margin-top: 70px;
    height: 126px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -66%, 77% 60%, 204% 100%, 0 100%);
    transform: rotate(248deg);
}

.stemfour{
    width: 35px;
    height: 200px;
    background: #DB7093;
    position: absolute;
    margin-left: 80px;
}

.four1 {
    margin-top: 95px;
    width: 53px;
    height: 3px;
    background: #DB7093;
    position: absolute;
}

.four2{
    width: 13px;
    margin-left: 0px;
    height: 98px;
    clip-path: polygon(-12% 0, 6% 0, 104% 100%, 76% 100%);
    background: #DB7093;
    display: block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
}


.stemfive{
    width: 35px;
    height: 75px;
    background: #DB7093;
    position: absolute;
}

.five1{
    margin-left: 65px;
    width: 53px;
    height: 3px;
    background: #DB7093;
    position: absolute;
}

.five2{
    width: 124px;
    margin-top: 70px;
    margin-left: 3px;
    height: 126px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -66%, 22% 60%, 204% 100%, 0 100%);
    transform: rotate(238deg);
}

.five3 {
    width: 3px;
    height: 20px;
    margin-left: 115px;
    background: #DB7093;
    position: absolute;
}

.six1{
    width: 124px;
    margin-top: 70px;
    margin-left: 38px;
    height: 126px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 17%, 22% -25%, 204% 100%, 0 100%);
    transform: rotate(238deg);
}


.six2{
    width: 137px;
    margin-left: 27px;
    height: 124px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 4% 53%, 217% 219%, 0 100%);
    transform: rotate(100deg);
}

.stemseven{
    width: 100px;
    height: 200px;
    margin-left: 56px;
    -webkit-clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 60% 0, 38% 100%, 0% 100%);
    background: #DB7093;
    position: absolute;
}


        .seven1{
            width: 58px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }

        .seven2{
            width: 3px;
            height: 20px;
            background: #DB7093;
            position: absolute; 
        }

        .seven3{
            width: 27px;
            margin-left:23px;
            margin-top: 80px;
            height: 3px;
            background: #DB7093;
            position: absolute;
        }




.eight1{
    width: 120px;
    margin-top: 73px;
    height: 120px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon( 0, 100% 0, 100% -66%, 77% 60%, 204% 100%, 0 100%);
}

.eight2{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon( 0, 100% 0, 100% -66%, 77% 60%, 204% 100%, 0 100%);
}

.nine1{
    width: 124px;
    margin-left: 38px;
    height: 126px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 17%, 22% -25%, 204% 100%, 0 100%);
    transform: rotate(425deg);
}

.nine2{
    width: 137px;
    margin-left: 29px;
    margin-top: 67px;
    height: 124px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 4% 53%, 217% 219%, 0 100%);
    transform: rotate(-83deg);
}




.period{
    width: 35px;
    height: 35px;
    margin-bottom:0px;
    margin-top:137px;
    background: #DB7093;
}

.questioncurve1{
    width: 116px;
    margin-left: 15px;
    height: 112px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -163%, 41% 53%, 217% 219%, 0 100%);
    transform: rotate(122deg);
}

.questioncurve2{
    width: 116px;
    margin-left: 8px;
    height: 154px;
    margin-top: -14px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -179%, -2% 68%, 171% 305%, 0 100%);
    transform: rotate(216deg);
}

.questioncurve3{
    width: 150px;
    margin-left: 1px;
    margin-top: 133px;
    height: 155px;
    border: 3px solid #DB7093;
    border-radius: 50%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% -279%, -12% 53%, 217% 219%, 0 100%);
    transform: rotate(102deg);
}

.stemquestion{
    width: 35px;
    height: 35px;
    margin-bottom:0px;
    margin-left:40px;
    margin-top:165px;
    background: #DB7093;
}

.stemexclamation{
    width: 35px;
    height: 35px;
    margin-bottom:0px;
    margin-left:40px;
    margin-top:165px;
    background: #DB7093;
}

.exclamationline{
    width: 35px;
    height: 132px;
    background: #DB7093;
    position: absolute;
    margin-left: 41px;
}

.comma1{
    width: 73px;
    height: 3px;
    margin-top: 226px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.comma2{
    width: 3px;
    height: 20px;
    margin-top:183px;
    margin-left: 25px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.firstquote11{
    width: 98px;
    height: 3px;
    margin-top: 20px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.firstquote12{
    width: 3px;
    height: 20px;
    margin-top:-37px;
    margin-left: 56px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.firstquote21{
    width: 98px;
    height: 3px;
    margin-top: 42px;
    margin-left: -33px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.firstquote22{
    width: 3px;
    height: 20px;
    margin-top:-15px;
    margin-left:24px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.endquote11{
    width: 98px;
    height: 3px;
    margin-top: 20px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.endquote12{
    width: 3px;
    height: 20px;
    margin-top:-37px;
    margin-left:38px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.endquote21{
    width: 98px;
    height: 3px;
    margin-top: 42px;
    margin-left: 34px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

.endquote22{
    width: 3px;
    height: 20px;
    margin-top:-15px;
    margin-left:72px;
    background: #DB7093;
    position: absolute;
    transform:rotate(90deg);
}

