body {
	background: #cccccc;
}

.stage {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: beige;
	position: relative;
}

#pear {
	width: 100px;
	height: 130px;
	background-image: linear-gradient(to right, #699811, #fdff21);
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	top: 250px;
	left: 300px;
	z-index: 1;
	transform: rotate(20deg);
	position: absolute;
}

#stem {
	width: 6px;
	height: 20px;
	background: brown;
	top: 240px;
	left: 370px;
	transform: rotate(20deg);
	position: absolute;
}


#square {
	width: 200px;
	height: 150px;
	background: black;
	top: 203px;
	left: 320px;
	position: absolute;
}

#smallsquare {
	width: 70px;
	height: 60px;
	background: black;
	top: 150px;
	left: 445px;
	position: absolute;
}

#lens {
	width: 70px;
	height: 90px;
	background: black;
	top: 240px;
	left: 500px;
	position: absolute;
}

#innersquare {
	width: 150px;
	height: 90px;
	border: 1px solid white;
	background: black;
	top: 240px;
	left: 340px;
	position: absolute;
}

#cameracircle {
	width: 70px;
	height: 70px;
	background: black;
		border: 1px solid white;
	border-radius: 150px;
	top: 250px;
	left: 410px;
	z-index: 1;
	position: absolute;
}





	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */



#circle {
	width: 90px;
	height: 90px;
	background: black;
	border-radius: 150px;
	top: 240px;
	left: 520px;
	z-index: 1;
	position: absolute;
}

#clip {
	width: 150px;
	height: 150px;
	background: yellow;
	clip-path: polygon(92% 22%, 62% 30%, 59% 0, 47% 26%, 24% 4%, 34% 34%, 5% 41%, 35% 47%, 20% 77%, 45% 58%, 59% 82%, 61% 55%, 87% 62%, 66% 41%);
	top: 215px;
	left: 520px;
	z-index: 0;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/